@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background-color: #FF4A70;
  border-radius: 20px;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
}

body {
  background: rgb(4,1,10);
  background: linear-gradient(90deg, rgba(4,1,10,1) 0%, rgba(15,4,36,1) 100%);
  color: white;
  font-family: DM Sans, sans-serif;
  letter-spacing: 1px;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}